<div class="mat-title text-center">View Employee Details</div>
<div>
    <!-- <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <mat-divider></mat-divider>

    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <mat-divider></mat-divider>

    <div>
        <label> <b> Email ID: </b></label> {{employee.emailId}}
    </div> -->
    <mat-list>
        <mat-list-item> <mat-label> First Name : &nbsp; <br> </mat-label> {{ employee.firstName}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> <mat-label> Last Name : &nbsp; <br> </mat-label> {{employee.lastName}} </mat-list-item>
        <mat-divider></mat-divider> 
        <mat-list-item> <mat-label> Email ID : &nbsp; <br> </mat-label> {{employee.emailId}} </mat-list-item>
       </mat-list>
       
</div>
